
:root {
    --main-bg-color: #F1DBDB;
    --main-font-color: #333333;
    --primary-color: #DEB5C0;
    --highlight-color: #DB3A6C;
    --section--color: #FFF7F5;
    --button--color: #d57896;
  }
  

  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
  
  body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
    background-color: var(--main-bg-color, #ffffff);
    color: var(--main-font-color, #000000);
  }
  

  h1, h2, h3 {
    margin: 1rem 0;
    margin-bottom: 1rem;
  }

  h2 {
    margin: 0.5rem 1rem;
    font-size: 2rem;
    text-align: center;
  }

  p, li {
    font-size: 1rem; 
  }
  
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-color, #E4C2CC);
    color: var(--main-font-color, #000000);
    padding: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  
  header h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    transition: transform 0.3s; 
  }
  header h1:hover {
    transform: scale(1.05); 
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  header nav ul li a {
    color: var(--main-font-color, #000000);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
  }
  header nav ul li a:hover {
    color: var(--highlight-color, #ff00bb);
    border: 1px solid #DE7E85;
    padding: 0.5rem;
    border-radius: 0.5rem;
  }
  

  main {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 2rem 0;
    justify-content: center;
  }

  section {
    min-height: 65dvh;
    width: 45dvw;
    background: var(--section--color, #ffffff);
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 0.5rem;
  }
  section:has(img:hover) {
    outline: 2px dashed #000000; 
  }


  section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 0.5rem;
}

  video {
    width: 40dvw;
  }
  picture {
    width: 30dvw;
  }
  #me {
    width: 30dvw;
  }

  .languages {
    display: flex;
    gap: 1rem;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  blockquote {
    animation: fadeIn 2s ease-in-out;
    background-color: #5F1854;
    color: #FDECFE;
    padding: 1rem;
    border-radius: 0.25rem;
  }
  #audio {
    text-align: center;
  }
  
  figure img, img {
    width: 30dvw;
    height: auto;
    object-fit: cover;
    object-position: center;
  }

  .rotateOnHover {
    display: inline-block;
    transition: transform 0.5s;
  }
  .rotateOnHover:hover {
    transform: rotate(360deg);
  }
  

  footer {
    background-color: var(--primary-color, #E4C2CC);
    color: var(--main-font-color, #000000);
    padding: 1rem;
    text-align: center;
    position: relative; 
  }
  hr {
    color: #B84068;  
  }
  
  code {
    max-width: 100%;
    word-wrap: break-word;
  }

  pre {
    white-space: pre-wrap;
  }

#menu-toggle {
    display: none;
  }
  
  .menu-icon {
    display: none; 
    font-size: 2rem;
    cursor: pointer;
    margin-right: 1rem;
  }

  form {
    max-width: 700px;
    margin: 0 auto;
  }
  
  fieldset{
    display: flex;
    flex-direction: column;
    gap: 1rem; 
  }

  label {
    font-weight: bold;
  }
  
  input, textarea, select, button {
    padding: 0.5rem;
    border: 1px solid #ccc;
  }

  input:user-invalid {
    border: 2px solid red;
  }

  textarea {
    min-height: 100px;
  }
  
  legend {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.7rem;
  }

  button {
    color: var(--main-font-color, #000000);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    background-color: var(--button--color, #ff00bb);
    border-radius: 0.5rem;
    padding: 0.5rem;
  }

  button:hover {
    color: var(--highlight-color, #ff00bb);
    border: 1px solid #DE7E85;
    padding: 0.5rem;
    border-radius: 0.5rem;
  }
  
  #error-output {
    color: red;
  }
  #info-output {
    color: green;
  }
  
  [data-theme="dark"] {
    --main-bg-color: #583c5b;
    --main-font-color: #FFF7F5;
    --primary-color: #795677;
    --highlight-color: rgb(230, 200, 229);
    --section--color: #a97f9e;
    --button--color: #7c4374;
  }
  

  @media (max-width: 600px) {
    section {
        width: 80dvw;
        min-height: 80dvh; 
    }
    img, picture, video {
        width: 80dvw;
    }

    header {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;  
    }
    
    .menu-icon {
        display: block;
    }
    
    header hgroup {
        margin-bottom: 0.5rem;
    }
    
    header nav ul {
        display: none;
        flex-direction: column;
        gap: 1rem;
        margin-top: 1rem;
      }
    
      #menu-toggle:checked + .menu-icon + nav ul {
        display: flex;
      }
  }
  

  @media (min-width: 601px) and (max-width: 900px) {
    section {
        width: 70dvw;
        min-height: 100dvh; 
    }
  }
  

  @media (min-width: 901px) {
    section {
        min-height: 73dvh; 
    }
    header {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  